@using PokemonProject.Models;
@using PokemonProject.Controllers;
@{
    ViewBag.Title = "Home";
}

<h1>Home</h1>

<div class="container">
    <div class="pokemon-row">
        @foreach (var pokemon in Model)
        {
            <div class="pokemon-card">
                <img src="@pokemon.sprites.front_default" alt="Pokemon Sprite" />
                <h4 class="pokemon-name">@pokemon.name</h4>
                <div class="type-row">
                    @foreach (var type in pokemon.types)
                    {
                        <span>@type.type.name</span>
                    }
                </div>
            </div>
        }
    </div>
</div>